body{
	padding:0;
	margin:0;
}
header .container-fluid img{
    height: 50px;
    margin-top: 10px;
}
.navbar .navbar-nav .nav-link {
    color:white;
    padding: 5px;
    margin:2px 20px;
}
.navbar .collapse{
    padding-left: 40%;  
}
.bi{
    padding:4px;
}
#down{
    color: aquamarine;
    border-color:lightskyblue;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px white;
}
#down:hover{
    color: blue;
}
#navbarSupportedContent ul li a:hover{
color: blue;

}
.container-fluid .row h1{
    color: red;
}
.container-fluid .row h3{
    color: aquamarine;
}
#down1{
    color: white;
    background-color: red;
    border-radius: 4px;
    box-shadow: 2px 2px 2px white;
    height: 40px;
    width: 130px;
    font-weight: bold;
    text-align: center;
}